listenAddr = "127.0.0.1:{{rewrite_proxy_port}}"
verbose = true 


# you can comment out categories to disable the endpoint
[gateway]
  [gateway.matrix] # takes no params but this needs to be declared to enable the endpoint

[rewrite]

  #[rewrite.fcm] #conmmenting disables forwarding fcm
  # key = ""  #Firebase server key - See docs for more info

  [rewrite.gotify]
    address = "localhost:{{gotify_port}}" #What hostname:port is gotify on
    scheme = "http" #http or https

