server:
  listenaddr: "{{gotify_listen_address}}" # the address to bind on, leave empty to bind on all addresses
  port: {{gotify_port}}

  ssl:
    enabled: false
database: # for database see (configure database section)
  dialect: postgres
  connection: host=/var/run/postgresql user=gotify dbname=gotify sslmode=disable

defaultuser: # on database creation, gotify creates an admin user
  name: admin # the username of the default user
  pass: {{ADMIN_PASS}} # the password of the default user
passstrength: 10 # the bcrypt password strength (higher = better but also slower)
uploadedimagesdir: data/images # the directory for storing uploaded images
pluginsdir: data/plugins # the directory where plugin resides
registration: true

