[Unit]
Description=Start Gotify - a simple server for sending and receiving messages
Requires=network.target
After=network.target

[Service]
Type=simple
User={{gotify_user}}
WorkingDirectory={{gotify_install_directory}}
ExecStart={{gotify_install_directory}}/{{GOTIFY_BIN_NAME}}
Restart=always
RestartSec=15

#ProtectSystem=strict
#ProtectHome=read-only
#ReadWritePaths={{gotify_install_directory}}/data/
#ReadWritePaths=/var/run/postgresql
#ReadOnlyPaths={{gotify_install_directory}}
#
#ProtectKernelTunables=true
#ProtectKernelModules=true
#ProtectKernelLogs=true


[Install]
WantedBy=multi-user.target

