[Unit]
Description=Rewrite Proxy for some UnifiedPush providers in Go
Requires=network.target
After=network.target

[Service]
Type=simple
User={{gotify_user}}
WorkingDirectory={{gotify_install_directory}}
ExecStart={{gotify_install_directory}}/up-rewrite
Restart=always
RestartSec=10

ProtectSystem=strict
ProtectHome=read-only 
#maybe
#ReadOnlyPaths={{gotify_install_directory}}/config.toml
#
#ProtectKernelTunables=true
#ProtectKernelModules=true
#ProtectKernelLogs=true

[Install]
WantedBy=multi-user.target

